.video-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.video-box {
    height: 100%;
    width: 70%;
}

.video-box video {
    width: 100%;
    height: 100%;
}

.audio-container {
    position: absolute;
    bottom: 0;
}

.audio-container audio {
    width: 100%;
    visibility: hidden;
}